<!-- course header -->

<div class="container-fluid">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-5 d-flex justify-content-left align-items-center">
        <h1 class="display-2"><a style="text-decoration: none; font-size: 4vw;" href="https//:SteveWLU.github.io/fren283">L'Histoire des idées</a></h1>
      </div>
      <div class="col-6"><img src="/assets/images/rue-médiévale.png" class="img-fluid"></div>
    </div>
    
    <div class="row align-items-end">
      <div class="col-1"></div>
      <div class="col-5">
        <h2 class="text-muted " style="font-variant-caps:small-caps">FREN 283 | Hiver 2021</h2>
        <p>Prof. Stephen P. McCormick | Heures de bureau de 13h30 à 14h30; rendez-vous</h3>
      </div>
      <div class="col-5 d-flex justify-content-end" style="background-color: whitesmoke;">
        {% include navbar.html %}
      </div>
      <div class="col-1"></div>
    </div>
</div>