<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Site CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

    <title>FREN 283 W21</title>

  </head>


<body>

<!-- image header -->
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-12">
          <img src="/assets/images/rue-médiévale.png" class="img-fluid">
        </div>
      </div>
    </div>

<!-- course title -->
  <div class="containter">
    <div class="row" style="background-color: whitesmoke;">
      <div class="col-1"></div>
      <div class="col-10">
        <h1 class="display-2"><a href="https//: SteveWLU.github.io/fren283">L'Histoire des idées</a></h1>
        <h2 class="text-muted" style="font-variant-caps:small-caps">FREN 283 | Hiver 2021</h2>
        <p>Prof. Stephen P. McCormick | Heures de bureau de 13h30 à 14h30; rendez-vous</h3>
      </div>
      <div class="col-1"></div>
    </div>
<!-- Navbar-->
    <div class="row">
      <div class="col-12 text-right" style="background-color: whitesmoke;">{% include navbar.html %}</div>
    </div>