
<!-- course header -->

<div class="container-fluid">
  <div class="row">
      <div class="col-md-5 d-flex justify-content-left align-items-center">
        <h1 class="display-2"><a style="text-decoration: none; font-size: 4vw;" href="https//:SteveWLU.github.io/fren283">L'Histoire des idées</a></h1>
      </div>
      <div class="col-md-7"><img src="/assets/images/rue-médiévale.png" class="img-fluid"></div>
  </div>
  <div class="row row align-items-end">
      <div class="col-md-6">
        <h2 class="text-muted " style="font-variant-caps:small-caps">FREN 283 | Hiver 2021</h2>
        <p>Prof. Stephen P. McCormick | Heures de bureau de 13h30 à 14h30; rendez-vous</p>
      </div>
      <div class="col-md-6 d-flex justify-content-end" style="background-color: whitesmoke;">
        {% include navbar.html %}
      </div>
  </div>
</div>

